astroid==2.0.4
bcrypt==3.1.4
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
Django==2.1.4
dnspython==1.15.0
email==6.0.0a1
eventlet==0.24.1
Flask==1.0.2
flask-paginate==0.5.1
Flask-Session==0.3.1
Flask-SocketIO==3.0.2
Flask-SQLAlchemy==2.3.2
greenlet==0.4.15
gunicorn==19.9.0
idna==2.7
isort==4.3.4
itsdangerous==0.24
Jinja2==2.10
lazy-object-proxy==1.3.1
MarkupSafe==1.0
mccabe==0.6.1
monotonic==1.5
pipdeptree==0.13.1
pipenv==2018.10.13
psycopg2==2.7.5
pycparser==2.19
pylint==2.1.1
python-engineio==2.3.2
python-socketio==2.0.0
pytz==2018.7
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.12
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.4.0
Werkzeug==0.14.1
whitenoise==4.1.2
wrapt==1.10.11